html {
  background-color: antiquewhite;
}
.container-fluid {
  background-color: antiquewhite;
}
input[type='text'] {
  background: transparent;
}
input[type='text'] :focus {
  background: transparent;
}
